* {
  margin: 0;
}

body {
  font-family: Libre Baskerville, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

header {
  background-color: #f4f4f5;
  border-bottom: 1px solid #30ab9e;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.logo {
  float: left;
  padding: 25px 0;
  color: #30ab9e;
  font-size: 64px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 83px;
}

nav a {
  color: #444;
  text-decoration: none;
  border: #30ab9e 1px solid;
  border-bottom: 0px;
  font-size: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
  transition: 0.3s;
}

nav a:hover {
  color: white;
  background-color: #30ab9e;
}

#Booking {
  color: white;
  background-color: #30ab9e;
}

.bottomSocials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #30ab9e;
  color: whitesmoke;
  font-size: 20px;
  height: 141px;
  margin-top: 40px;
}

.imgLogo {
  display: inline;
}

.calendarHeader {
  text-align: center;
  margin-top: 45px;
  color: #333;
}

.calendar {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.bookingDate {
  text-align: center;
  margin-top: 45px;
}

#date {
  border: #5ea892 2px solid;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
}

.purchase {
  margin-top: 71px;
  text-align: center;
  color: #333;
  background-color: #d0eae2;
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
  padding-left: 180px;
  padding-right: 180px;
  border-radius: 10px;
}

.purchaseContainer {
  display: flex;
  justify-content: center;
}

.artimgs {
  display: flex;
  justify-content: space-evenly;
}

.artimgs img {
  width: 323px;
  height: 216px;
  object-fit: cover;
  border-radius: 5px;
}

.artImgText {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.artButton {
  border: ;
  margin-top: 71px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background-color: #f4f4f5;
  transition: 0.3s;
}

.artButton h4 {
  width: 323px;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.artButton p {
  width: 323px;
  text-align: center;
  margin-top: 10px;
}

.hmm {
  margin-top: 10px;
  height: 30px;
  width: 30px;
  margin-bottom: 15px;
}

.checkDiv {
  text-align: center;
}

.submitButton {
  margin-top: 30px;
  text-align: center;
}

.submitButton button {
  background-color: #30ab9e;
  color: white;
  padding: 14px 23px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
